/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */

@font-face {
    font-family: logo;
    src: url('Frankfurter_Std_Regular.otf') format('opentype');
}



/* h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */


.top-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    // width: 100%;
    border-bottom: 0.3px solid #e8e8e8;
}

.top-nav-bar-left {
    text-align: left;
    margin-left: 20px;
    display: flex;
}


.top-nav-bar-center {
    padding-right: 55px;
    padding-top: 15px;
}

#blm {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-decoration: underline;
    font-weight: 200;
    margin-top: 5px;
}

.top-nav-bar-right {
    margin-right: 16px;
    display: flex;
    align-items: center;
    position: relative;
}

.fa-user-circle:hover {
    cursor: pointer;
}

#explore {
    margin-right: 17px;
}

.search {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #282828;
}


.nav-bar-link {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.main-logo {
    font-family: logo;
    font-size: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-content {
    display: flex;
    justify-content: center;
    background-color: #f7f7f6;
    border-top: 0.5px solid lightgrey;
    border-bottom: 2px solid darkgrey;
    height: 800px;
}

.category-footer {
    border-top: 0.5px solid #e8e8e8;
}

.categories-bar-container-footer {
    display: flex;
    position: relative;
    justify-content: center;
}

.fresh-faces-container {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 450px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fresh-header-wrapper {
    display: flex;
}

.fresh-faces-header-container {
    display: flex;
    position: relative;
    flex-direction: column;
    top: 10px;
    right: 487 px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fresh-faces-header {
    display: flex;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 0px;
}

.fresh-faces-projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left: 0px;
}

.fresh-project {
    width: 305px;
    height: 320px;
    padding-left: 10px;
    padding-right: 10px;
}

#fresh-media {
    width: 290px;
    height: 170px;
    border: 0.1px solid #e8e8e8;
}

//Login


div > .login-form, div > .signup-form {
    display: flex;
    align-items: center;
}

.log-in {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000000;
    margin-top: 4px;
}

.login-window, .signup-window {
    /* text-align: center; */
    border: 1px solid lightgrey;
    background-color: #ffffff;
}

.signup-form-field {
    width: 83%;
    height: 30px;
    margin: 5px;
    margin-left: 30px;
    border-color: #DCDEDD;
    border: .5px solid #DCDEDD;
    margin: 17px;
    margin-left: 30px;
    padding-left: 5px;
}

.login-form-field {
    width: 83%;
    height: 30px;
    margin: 5px;
    margin-left: 30px;
    border-color: #DCDEDD;
    border: .5px solid #DCDEDD;
    padding-left: 5px;
}


/* .login-form-field.text, .signup-form-field.text {
    color: #DCDEDD;
} */

.login-window > .log-in-header, .signup-window > .signup-header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 28px;
    margin-left: 30px;
    font-weight: 100;
}

p {
    text-align: center;
}


.login-form, .signup-form {
    display: flex;
    align-items: flex-end;
    height: 675px;
    width: 400px;
}

.demo-login {
    width: auto;
    align-items: center;
    text-align: center;
    width: 85%;
    height: 30px;
    margin: 5px;
    background-color: #287dec;
    color: #ffffff;
    font-weight: 200;
    margin-left: 30px;
    margin-top: 15px;
    margin-right: 30px;
    border: none;
    font-weight: 200;
}

.demo-login:hover {
    cursor: pointer;
    background-color: #06408d;
}

.switch-to-signup {
    border-top: 1px solid #f1eeea;
    background-color: #ffffff;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.switch-to-signup > a {
    color:#2752ff;
}

.switch-to-login {
    border-top: 1px solid #f1eeea;
    background-color: #f7f7f6;
    color: #3d3d66;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.switch-to-login > a {
    color:#2752ff;
}

.line-strikethrough {
    height: 1px;
    background-color: #f1eeea;
    width: 100%;
}

.text {
    display: block;
    top: 5px;
}

.login-button, .signup-button {
    width: 85%;
    height: 30px;
    margin: 5px;
    background-color: #009e74;
    color: #ffffff;
    font-weight: 200;
    margin-left: 30px;
    margin-top: 15px;
    margin-right: 30px;
    border: none;
}

.signup-button {
    margin-bottom: 20px;
}

.login-button:hover, .signup-button:hover{
    cursor: pointer;
    background-color: #007556;
}

a {
    color: black;
    text-decoration: none;
}

a.visited{
    text-decoration: none;
}


.signup-form-container {
    display: flex;
    justify-content: center;
    background-color: #F0F0F0;
    border-top: 0.5px solid lightgrey;
    border-bottom: 2px solid darkgrey;
    height: 800px;
}

.login-errors {
    background-color: red;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
}

.login-errors > ul {
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 10px;
    /* padding: 10px; */
}

.modal-dropdown{
    display: block;
    background-color: #F7F7F6;
    min-height: 300px;
    min-width: 200px;
    padding: 5px;
    position: absolute;
    right: 20px;
    top: 50px;
    border: 1px solid #707070;
    margin: 0;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.log-in {
    padding: 0;
}

.log-in a{
    text-decoration: none;
    color: #282828;
    margin: 0 0 0 15px;
    vertical-align: baseline;
}

.log-in a:hover{
    text-decoration: none;
    color: 	#034752;
    cursor: pointer;
}

.dropdown-message{
    display: inline-block;
    font-size: 14px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #282828;
    margin: 0 0 0 15px;
}

.dropdown-window {
    display: none;
}

.dropdown-container {
    font-size: 14px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 150px;
    height: 175px;
    display: flex;
    background-color: #FFFFFF;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    // cursor: pointer;
}


.dropdown-container div, .dropdown-container a {
    margin-top: 7px;
    margin-right: 7px;
}

.dropdown-container a:hover {
    color: #009e74;
    cursor: pointer;
}

.dropdown-window.clicked {
    display: block;
    position: absolute;
    z-index: 3;
    right: 25px;
    border: 0.5px solid #e9e9e9;
}

.dropdown-window.clicked:hover {
    border: 0.5px solid darkslateblue;
}

.drop

.dropdown-input{
    display:none;
    -webkit-appearance: none;
    font-size: 14px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #282828;
    cursor: pointer;
    border: 0;
    padding: 0;
    align-content: flex-start;
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #F7F7F6;
    min-height: 300px;
    min-width: 200px;
    padding: 5px;
    position: absolute;
    right: 0%;
    top: 17px;
    border: 1px solid #707070;
    margin: 0;
}

.dropdown-input:hover{
    color: 	#034752;
    cursor: pointer;
}

.modal-logout {
    border: 0;
    display: block;
    font-size: 14px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #282828;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    background-color: transparent;
    margin: 5px;
}

.modal-logout:hover{
    color:blue;
    text-decoration: underline;
}


/* Project Start */

.project-form-page {
    display: block;
    justify-content: center;
    border-top: 1px solid #f0f0f0

}

.page-number {
    display: flex;
    margin-left: 200px;
    padding-top: 10px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.project-create-form-container {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;

}

.project-create-form {
    margin: auto;
    width: 600px;
}

.project-create-form.hidden {
    display: none;
    margin: auto;
    width: 600px;
}

.project-create-form > h2 {
    text-align: center;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #000000;
}

.project-create-form > h4 {
    text-align: center;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #00000099;
    padding-bottom: 10px;
    
}

.category-dropdown {
    position: relative;
    text-align: left;
    color: #656969;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
    padding: 15px 21px;
    margin-bottom: 80px;
    cursor: pointer;
}

.location-dropdown {
    position: relative;
    text-align: left;
    color: #656969;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
    padding: 15px 21px;
    margin-bottom: 50px;
    cursor: pointer;
}

.fa-caret-down{
    position: absolute;
    font-size: 20px;
    color: black;
    right: 0;
    padding-right: 15px;
    vertical-align: middle;
    padding-bottom: 5px;
}

.fa-long-arrow-alt-left {
    display: flex;
    justify-content: center;
    padding-right: 15px;
    color: #656969;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 12px;
}

.fa-long-arrow-alt-left:hover {
    color: #282828;
    cursor: pointer
    /* border: 5px solid red; */
    /* vertical-align: middle; */
}

.fa-long-arrow-alt-left span {
    margin-left: 7px;
    font-size: 15px;
    font-weight: 200;
}


.category-dropdown:hover, .location-dropdown:hover {
    border: 1px solid #282828
}

.category-dropdown-content {
    display: none;
    position: absolute;
}

.category-list-container, .location-list-container {
    display: none;
}


.category-list-container.open {
    display: block;
    border: 1px solid black;
    position: absolute;
    height: 300px;
    width: 598px;
    z-index: 1;
    overflow-y: scroll;
    background-color: white;
    bottom: -30px;
}

.location-list-container.open {
    display: block;
    border: 1px solid black;
    position: absolute;
    height: 300px;
    width: 598px;
    z-index: 1;
    overflow-y: scroll;
    background-color: white;
    top: 420px;
}



.button-container {
    border-top: 0.5px solid #DCDEDD;
    display: flex;
    /* position: absolute; */
    justify-content: space-between;
    margin-bottom: 80px;
}

.next-button  {
    margin-top: 20px;
    border: 0.5px solid lightgrey;
    cursor: not-allowed;
    background-color: #c9c9c9;
    color: #ffffff;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 12px;
    pointer-events: none;
}

.next-button.choice {
    background-color: #282828;
    margin-top: 20px;
    color:#ffffff;
    font-weight: 400;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    pointer-events: auto;
    /* padding-left: 24px; */
    font-size: 14px;
}


.nice-message {
    margin-top: 30px;
    color: #656969;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.project-categories, .project-locations {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* z-index: 1 */
}

/* #end-date {
    
} */

.project-categories li, .project-locations li {
    list-style: none;
    padding: 10px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: #282828;
    left: -25px;
    padding-left: 20px;
    cursor: pointer;
}

.project-categories li:hover, .location-categories li:hover {
    background-color: #dadada;
    opacity: 0.8;
}


.project-footer-info {
    text-align: center;
    color: #a7a8a8;    
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.project-title {
    height: 20px;
    width: 600px;
    margin-bottom: 40px;
}

/* .project-description-container {
    display: flex;
} */

.project-description {
    height: 80px;
    width: 600px;
    text-align: initial;
}

/* .next-button.clicked {
    margin-top: 20px;
    border: 0.5px solid lightgrey;
    cursor: not-allowed;
    background-color: #c9c9c9;
    color: #ffffff;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 12px;
} */

.previous-container {
    display: flex;
    align-items: center;
} 

label {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 10px;
}

label > p {
    text-align: left;
}

label > input {
    text-align: start;
    overflow-wrap: break-word;
    margin-left: 5px;
}

.additional-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

#upload {
    display: block;
    padding-top: 10px;
}

/* .mainest-content {
    min-height: calc(100vh - 50px);
} */

/* .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
} */

.footer-categories {
    display: flex;
    height: 100px;
    border-top: 0.3px solid #e8e8e8;
    background-color: white;
}

.languages, .resources {
    padding: 40px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin: auto

}

.languages > li, .resources > li {
    list-style: none;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 6px;
    text-decoration-line: none;
}

.resources > li > a:hover {
    cursor: pointer;
    color: darkblue;
}

#top-lister {
    padding-top: 12px;
}


.project-show-main {
    display: flex;
    flex-direction: column;
    background-color: #FBFBFA;
}

.project-show-main-content {
    display: flex;
    height: 700px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 0.5px solid #e8e8e8;

}

.project-show-main h2 {
    font-family:"Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 19px;
    font-weight: 500;
    margin: 0;
    margin-top: 35px;
    margin-bottom: 12px;

}

.project-show-main h4 {
    font-family:"Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    font-weight: 200;
    margin: 0;

}

.project-show-media-details-container {
    height: 100%
    /* think about this structure/border-box....the grid!! */
}

.project-title-description-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
}

.project-show-media {
    border: 0.5px solid #e8e8e8;
    position: relative;
    height: 460px;
    width: 820px;
    left: -250px;
}

.project-show-media > img {
    height: 100%;
    width: 100%;
}

.project-show-media-info-footer {
    position: relative;
    bottom: -15px;
    left: -250px;
}

.project-show-details {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -460px;
    left: 380px;
}

.funded-amt {
    font-family:"Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 26px;
    color: #009e74;
    position: absolute;
    font-weight: 700;
}

.backing-button {
    display: block;
    background-color: #009e74;
    width: 100%;
    height: 50px;
    color: #ffffff;
    border: none;
    box-shadow: 0 2px 4px rgba(40,40,40,0.17);
    font-family:"Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
}

.default-backing-statement {
    background: linear-gradient(#e66465, #9198e5);
}

.project-show-details > div {
    padding: 10px
}


.campaign-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.campaign-headbar {
    height: 72px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 0.5px solid #e8e8e8;
}

.campaign-end-date {
    font-family: sans-serif;
}

.eligibility-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 20px;
}

.eligibility-container > p{
    font-family:"Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
}


.fa-check-circle {
    color: #282828;
}

.fa-check-circle:before {
    padding-right: 5px;
    padding-bottom: 10px;
}

.fa-check-circle:hover {
    cursor: pointer;
}

.fa-check-circle.clicked {
    color: limegreen;
}

.categories-bar-container {
    display: flex;
    justify-content: center;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 0.3px solid #e8e8e8;
}

.categories-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 30px;
    list-style: none;
}

.categories-list > li > a {
    padding-right: 20px;
    padding-left: 20px;
    font-family:"Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    color: #656969;
    font-size: 17px;
}
.categories-list > li > a:hover {
    color: slateblue;
}

.project-index-container {
    max-width: 1350px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
    padding-bottom: 30px;

}


.featured-project-container > h4, .recommended-sidebar-container > h4 {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    color: #656969;
    font-size: 13px;
    font-weight: 400;
}

.featured-project-container {
    border-right: 0.3px solid #e8e8e8;
    width: 55%;
    margin-top: 25px;
    padding-right: 60px;
    margin-bottom: 20px;
}

.featured-project-container > .featured-media {
    height: 365px;
    width: 625px;
    border: 0.3px solid #e8e8e8;
}

.featured-project-title {
    margin-bottom: 15px;
}

.recommended-sidebar-container {
    width: 45%;
    margin-top: 25px;
    margin-left: 60px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
}

.recommended-sidebar-projects {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    position: relative;
    top: -23px;
}

.sidebar-image {
    width: 143px;
    height: 90px;
}

#sidebar-media {
    width: 143px;
    height: 90px;
    border: 0.1px solid black;
}

.sidebar-project {
    display: flex;
    padding-top: 23px;
    padding-bottom: 20px;
    border-bottom: 0.3px solid #e9e9e9;
}

.sidebar-details {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    justify-content: space-between;
}

.sidebar-details > a {
    padding-bottom: 25px;
}

h3 {
    font-family:"Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #282828;
}

.featured-project-description {
    font-family:"Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 18px;
    color: #282828;
    font-weight: 200;
}

div > i {
    padding: 6px 15px 6px 4px;
    font-family:"Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 18px;
}

.project-photo {
    padding-bottom: 15px;
}

.project-photo > label{
    font-family:"Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    padding-bottom: 10px;
    font-size: 16px
}

#end-date, .goal-funding {
    display: grid;
}

.input.campaign-end-date, .input.goal-funding {
    padding-top: 5px;
}

.funded-percentage {
    color: #037362
}

.discover-footer {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 0.3px solid #e8e8e8;
    border-bottom: 0.3px solid #e8e8e8;
}

.discover-footer h2 {
    font-size: 28px;
    font-weight: 200;
    margin-top: 40px;
    margin-bottom: 3px;
}

.discover-footer h4 {
    font-size: 20px;
    font-weight: 200;
}

.discover-footer button {
    background: #282828;
    color: white;
    margin-bottom: 25px;
    border: none;
    padding: 10px;
    cursor: pointer;
}
/* Rewards */

.rewards-add-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.rewards-info-container {
    width: 825px;
}

.default-reward {
    border: 1px solid #DCDEDD;
}

.default-reward:hover {
    cursor: pointer;
}


.rewards-info-container > h2 {
    padding-top: 40px;
    text-align: center;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: #282828;
}

.rewards-info-container > h4 {
    text-align: center;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #00000099;
    padding-bottom: 10px;
}


img {
    width: 100%;
}

.reward-form-container {
    display: flex;
    justify-content: flex-start;
    border: 0.3px solid #282828;
}

.add-reward-form, .add-reward-form > h4, .add-reward-form > h6, 
.add-reward-form > div, .add-reward-form > div > label {
    font-family:"Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 400;
}

.add-reward-form input {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 7px;
}

.add-reward-form button {
    margin-bottom: 15px;
}

.add-reward-form > h4 {
    margin-bottom: 0;
}

.add-reward-form > h6 {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 13px;
    color: #282828;
}

.add-reward-button {
    pointer-events: none;
}

.add-reward-button.ready {
    cursor: pointer;
    pointer-events: auto;
}

.reward-selections {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#rewards-container {
    width: 30%;
}

.campaign-story {
    display: flex;
    justify-content: flex-end;
    background-color: white;
    padding-left: 15%;
    padding-right: 15%;
}

.back-reward {
    pointer-events: none;
}

.back-reward.ready {
    pointer-events: auto;
}

.reward-list {
    display: flex;
    flex-direction: column;
    height: 600px;
    overflow-y: scroll;
}

.reward-list > li {
    list-style: none;
}

.reward {
    display: block;
    border: 1px solid #DCDEDD;
    margin-top: 20px;
}

.rewards-container {
    display: flex;
    position: absolute;
}

.pledge-input input {
    height: 20px;
}

/* Project Index */

.search-categories-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 195px;
    width: 100%;
    border-bottom: 0.3px solid #e8e8e8
}

.explore-search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family:"Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 21px;
    color: #282828;
}


.explore-category-list-container, .explore-location-list-container, 
.explore-sort-list-container {
    display: flex;
    position: relative;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.17);
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    color: #282828
}

div > #search-arrow:before {
    position: absolute;
    color: #282828;
    right: 0;
}

.projects-index-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-index-container {
    display: flex;
    width: 70%;
    flex-direction: column;
}

.projects-index {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0px;
}

.projects-index li {
    padding: 15px
}

.projects-amt {
    padding-top: 55px;
    margin-left: 15px;
}

// User Projects

.user-projects-container {
    display: flex;
    flex-direction: column;
    font-family:"Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
}

.user-projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.my-projects-header {
    display: flex;
    justify-content: center;
}

.user-projects li {
    list-style: disc;
    padding: 7px;
    width: fit-content;
}

.user-projects li:hover {
    background: #e9e9e9;
}

.user-projects li a:hover {
    color: slateblue;
}

.user-projects button {
    margin-left: 15px;
}
