/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



@font-face {
    font-family: logo;
    src: url('Frankfurter_Std_Regular.otf') format('truetype');
}



/* h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

.top-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    border-bottom: 0.5px solid lightgray;
}

.top-nav-bar-left {
    text-align: left;
    margin-left: 25px;
    display: flex;
}

.top-nav-bar-center {
    padding-right: 90px;
}

.top-nav-bar-right {
    margin-right: 35px;
}

#explore {
    margin-right: 17px;
}

.nav-bar-link {
    /* background-color: red; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.main-logo {
    font-family: logo;
    font-size: 25px;
    /* background-color: blue; */
}

.main-content {
    display: flex;
    justify-content: center;
    background-color: #f7f7f6;
    border-top: 0.5px solid lightgrey;
    border-bottom: 2px solid darkgrey;
    height: 800px;
}

div > .login-form, div > .signup-form {
    display: flex;
    align-items: center;
}

.log-in {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.login-window, .signup-window {
    /* text-align: center; */
    border: 1px solid lightgrey;
    background-color: #ffffff;
}

.signup-form-field {
    width: 83%;
    height: 30px;
    margin: 5px;
    /* border-radius: 2px; */
    margin-left: 30px;
    border-color: #DCDEDD;
    border: .5px solid #DCDEDD;
    margin: 17px;
    margin-left: 30px;
}

.login-form-field {
    width: 83%;
    height: 30px;
    margin: 5px;
    /* border-radius: 2px; */
    margin-left: 30px;
    border-color: #DCDEDD;
    border: .5px solid #DCDEDD;
}


/* .login-form-field.text, .signup-form-field.text {
    color: #DCDEDD;
} */

.login-window > .log-in-header, .signup-window > .signup-header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 28px;
    margin-left: 30px;
    font-weight: 100;
}

p {
    text-align: center;
}


.login-form, .signup-form {
    display: flex;
    align-items: flex-end;
    height: 675px;
    width: 400px;
}

.demo-login {
    width: auto;
    align-items: center;
    text-align: center;
    width: 85%;
    height: 30px;
    margin: 5px;
    background-color: #287dec;
    color: #ffffff;
    font-weight: 200;
    margin-left: 30px;
    margin-top: 15px;
    margin-right: 30px;
    border: none;
    font-weight: 200;
}

.demo-login:hover {
    cursor: pointer
}

.switch-to-signup {
    border-top: 1px solid #f1eeea;
    background-color: #ffffff;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.switch-to-signup > a {
    color:#2752ff;
}

.switch-to-login {
    border-top: 1px solid #f1eeea;
    background-color: #f7f7f6;
    color: #3d3d66;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.switch-to-login > a {
    color:#2752ff;
}

.line-strikethrough {
    height: 1px;
    background-color: #f1eeea;
    width: 100%;
}

.text {
    display: block;
    top: 5px;
}

.login-button, .signup-button {
    width: 85%;
    height: 30px;
    margin: 5px;
    background-color: #009e74;
    color: #ffffff;
    font-weight: 200;
    margin-left: 30px;
    margin-top: 15px;
    margin-right: 30px;
    border: none;
}

.signup-button {
    margin-bottom: 20px;
}

.login-button:hover, .signup-button:hover{
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
}

a.visited{
    text-decoration: none;
}


.signup-form-container {
    display: flex;
    justify-content: center;
    background-color: #F0F0F0;
    border-top: 0.5px solid lightgrey;
    border-bottom: 2px solid darkgrey;
    height: 800px;
}

.login-errors {
    background-color: red;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
}

.login-errors > ul {
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 10px;
    /* padding: 10px; */
}

.modal-dropdown{
    display: block;
    background-color: #F7F7F6;
    min-height: 300px;
    min-width: 200px;
    padding: 5px;
    position: absolute;
    right: 20px;
    top: 50px;
    border: 1px solid #707070;
    margin: 0;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dropdown-links {
    padding: 0;
}

.dropdown-links a{
    text-decoration: none;
    color: #282828;
    margin: 0 0 0 15px;
    vertical-align: baseline;
}

.dropdown-links a:hover{
    text-decoration: none;
    color: 	#034752;
    cursor: pointer;
}

.dropdown-message{
    display: inline-block;
    font-size: 14px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #282828;
    margin: 0 0 0 15px;
}

.dropdown-input{
    display:none;
    -webkit-appearance: none;
    font-size: 14px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #282828;
    cursor: pointer;
    border: 0;
    padding: 0;
    align-content: flex-start;
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #F7F7F6;
    min-height: 300px;
    min-width: 200px;
    padding: 5px;
    position: absolute;
    right: 0%;
    top: 17px;
    border: 1px solid #707070;
    margin: 0;
}

.dropdown-input:hover{
    color: 	#034752;
    cursor: pointer;
}

.modal-logout {
    border: 0;
    display: block;
    font-size: 14px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #282828;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    background-color: transparent;
    margin: 5px;
}

.modal-logout:hover{
    color:blue;
    text-decoration: underline;
}


/* Project Start */

.project-form-page {
    display: block;
    justify-content: center;
    border-top: 1px solid #f0f0f0

}

.page-number {
    display: flex;
    margin-left: 200px;
    padding-top: 10px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.project-create-form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;

}

.project-create-form {
    margin: auto;
    width: 600px;
}

.project-create-form.hidden {
    display: none;
    margin: auto;
    width: 600px;
}

.project-create-form > h2 {
    text-align: center;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #000000;
}

.project-create-form > h4 {
    text-align: center;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #00000099;
    padding-bottom: 10px;
    
}

.category-dropdown, .location-dropdown {
    position: relative;
    text-align: left;
    color: #656969;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
    padding: 15px 21px;
    margin-bottom: 80px;
    cursor: pointer;
}

.fa-caret-down{
    position: absolute;
    font-size: 20px;
    color: black;
    right: 0;
    padding-right: 15px;
    /* border: 5px solid red; */
    /* vertical-align: middle; */
}

.fa-long-arrow-alt-left {
    display: flex;
    justify-content: center;
    padding-right: 15px;
    color: #656969;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 12px;
}

.fa-long-arrow-alt-left:hover {
    color: #282828;
    cursor: pointer
    /* border: 5px solid red; */
    /* vertical-align: middle; */
}

.fa-long-arrow-alt-left span {
    margin-left: 7px;
    font-size: 15px;
    font-weight: 200;
}


.category-dropdown:hover, .location-dropdown:hover {
    border: 1px solid #282828
}

.category-dropdown-content {
    display: none;
    position: absolute;
}

.category-list-container, .location-list-container {
    display: none;
}


.category-list-container.open {
    display: block;
    border: 1px solid black;
    position: absolute;
    height: 300px;
    width: 598px;
    z-index: 1;
    overflow-y: scroll;
    background-color: white;
    bottom: 150px;
}

.location-list-container.open {
    display: block;
    border: 1px solid black;
    position: absolute;
    height: 300px;
    width: 598px;
    z-index: 1;
    overflow-y: scroll;
    background-color: white;
    bottom: 150px;
}



.button-container {
    border-top: 0.5px solid #DCDEDD;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.next-button  {
    margin-top: 20px;
    border: 0.5px solid lightgrey;
    cursor: not-allowed;
    background-color: #c9c9c9;
    color: #ffffff;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 12px;
    pointer-events: none;
}

.next-button.choice {
    background-color: #282828;
    margin-top: 20px;
    color:#ffffff;
    font-weight: 400;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    pointer-events: auto;
    /* padding-left: 24px; */
    font-size: 14px;
}


.nice-message {
    margin-top: 30px;
    color: #656969;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.project-categories, .project-locations {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.project-categories li, .project-locations li {
    list-style: none;
    padding: 10px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: #282828;
    left: -25px;
    padding-left: 20px;
    cursor: pointer;
}

.project-categories li:hover, .location-categories li:hover {
    background-color: #dadada;
    opacity: 0.8;
}


.project-footer-info {
    text-align: center;
    color: #a7a8a8;    
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.project-title {
    height: 20px;
    width: 600px;
    margin-bottom: 40px;
}

/* .project-description-container {
    display: flex;
} */

.project-description {
    height: 80px;
    width: 600px;
    text-align: initial;
    margin-bottom: 80px;
}

/* .next-button.clicked {
    margin-top: 20px;
    border: 0.5px solid lightgrey;
    cursor: not-allowed;
    background-color: #c9c9c9;
    color: #ffffff;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 12px;
} */

.previous-container {
    display: flex;
    align-items: center;
} 

label {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 10px;
}

.additional-info-container {
    display: flex;
}

/* .mainest-content {
    min-height: calc(100vh - 50px);
} */

/* .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
} */

.footer-categories {
    display: flex;
    height: 100px;
}

.languages, .resources {
    padding: 40px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin: auto

}

.languages > li, .resources > li {
    list-style: none;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 6px;
    text-decoration-line: none;
}

.resources > li > a:hover {
    cursor: pointer;
    color: darkblue;
}

#top-lister {
    padding-top: 12px;
}

.project-show-main {
    background-color: #f7fffa;
}

.project-show-main-content {
    display: flex;
    height: 700px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.project-show-main h2 {
    font-family:"Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    font-weight: 500;
    margin: 0;
    margin-top: 35px;
    margin-bottom: 12px;

}

.project-show-main h4 {
    font-family:"Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    font-weight: 200;
    margin: 0;

}

/* .project-show-media-details-container {
    display: flex;
} */

.project-title-description-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
}

.project-show-media {
    border: 1px solid red;
    position: relative;
    height: 460px;
    width: 820px;
    left: -250px;
}

.project-show-media-info-footer {
    position: relative;
    bottom: 200px;
    left: -600px;
}

.project-show-details {
    position: relative;
    top: -460px;
    left: 380px;
}

.project-show-details > div {
    padding: 10px
}